html{
  font-size: 100%;
  } 

body {
	
  	margin: 0px auto;
  	padding: 0px;
  	background-color: #C1F7DC;
  	text-align: center;
  	font-family: 'Tinos', serif;
  	max-width: 80%;

}

main {
  background-color: #A7ABDD;
}

/*#wrapper {
	font-family: 'Work Sans', sans-serif;
  	max-width: 320px;
  	margin: 20px auto;
}
*/
h1{
	font-family: 'Josefin Slab', serif;
	font-size:;
}

.resbod ul li{
  text-decoration: none;
  list-style: none;
}

@media (min-width: 43.75rem) {
  /* 700px */
  .resume {
    background-color: #B4D4EE;
    transition: background-color ease-in-out 0.6s;
  }
}
@media (max-width: 43.75rem) {
  /* 700px */
  .resume {
    transition: background-color ease-in-out 0.6s;
  }
}

@media (min-width: 34.38rem) {
  /* 550px */
  .me {
    background-color: #824670;
    transition: background-color ease-in-out 0.8s;
    font-size: 1.5rem;
    /*24px*/
    transition: font-size ease-in-out 0.8s;
  }
}
@media (max-width: 34.38rem) {
  /* 550px */
  .me {
    background-color: #5DA9E9;
    transition: background-color ease-in-out 0.8s;
    font-size: 1rem;
    transition: font-size ease-in-out 0.8s;
  }
}

@media (min-width: 46.88rem) {
  /* 750px */
  .contact {
    font-size: 2.5rem;
    transition: font-size ease-in-out 0.4s;
  }
}

@media (max-width: 46.88rem) {
  /* 750px */
  .contact {
    font-size: 1.5rem;
    transition: font-size ease-in-out 0.4s;
  }
}
/*font-family: 'Josefin Slab', serif;
font-family: 'Tinos', serif; */



