html{
  font-size: 100%;
  } 

* { 
  box-sizing: border-box; 
}

body {
	
  	margin: 0px auto;
  	padding: 0px;
  	text-align: center;
  	font-family: 'Tinos', serif;
  	max-width: 100%;
    background-color: #A6808C;
    color: white;
}

picture {
  display: block;
  max-width: 100%;
  text-align: center;
}


nav {
  text-align: center;
  background-color: #C6C6C6;

}

nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 10px;
}

nav ul li {
  display: inline-block;
  margin: 0 2rem;
}

nav ul li a {
  color: #101419;
  font-size: 24px;
  text-decoration: none;
}

h1{
  font-family: 'Josefin Slab', serif;

}

main {
  text-align: left;
  background-color: #6B4D57;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: column wrap;

  font-weight: bold;
  text-align: center;
}


.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.resbod ul li{
  text-decoration: none;
  list-style: none;
}

.main {
  text-align: left;
  padding: 0px 5px 40px 20px;
  max-width: 60%;
  margin: 0 auto;

}

.aside-1 {
  background: #6B4D57;
  display: flex;
  align-items: center;
}



/*.row {
  overflow: auto;
  margin-bottom: 16px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
  background-color: #476C9B;
  border: 1px solid #2d9dc0;
  padding: 16px;
  width: 100%;
}
*/
@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    {
    /* flex-grow: 3 times in size
       flex-shrink: 0 (do not shrink) */
    flex: 3 0;
  }
  .aside-1 { order: 1; }

}

/*@media screen and (min-width: 600px) {
  [class*="col-"] {
    background-color: #706677;
    border: 1px solid #565264;
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
  }
}

    @media screen and (min-width: 832px) {
    .container {
      margin: 0 auto;
      width: 800px;
    }
  }

*/
